#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  font-family: 'Montserrat Alternates', sans-serif;
  background-image: url(../src/assets/digimon-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height:100vw;
}

.main-header{
  position: sticky;
  top: 0;
  background-color: #050829;
  color: #fff;
  padding: 24px;
  margin-bottom: 24px;
}

.site-title{
  font-size: 2.2em;
 
}

.site-description{
  margin-bottom: 12px;
}

.main-form{
  max-width: 600px;
  margin: 0 auto;
}

.searchbar{
  width: 100%;
  border-radius: 100px;
  box-shadow: 0;
  border: 3px solid #373c6b;
  padding: 12px;
  transition: .3s ease-in-out;
  font-family: 'Montserrat Alternates', sans-serif;
}

.searchbar:focus{
  outline: 0;
  border-color: #5f67ad;
}

.cards{
  max-width: 600px;
  margin: 0 auto;
  
}

.card-item{
    border: 1px solid #eee;
    background-color: #fff;
    border-radius: 6px;
    display: flex;
    align-items: center;
    padding: 14px;
    gap: 18px;
    margin-bottom: 8px;
}

.card-image{
  max-width: 100px;
  border: 5px solid #eee;
  border-radius: 16px;
}

.card-info{
  text-align: left;
}

.card-title{
    margin-bottom: 5px;
}

.card-category{
    font-weight: 400;
    font-style: italic;
}

@media (max-width: 610px){
  .cards{
    padding: 0 10px;
  }
}